<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/user.css">
    <link rel="stylesheet" href="/static/css/userBase.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{{name}} | Food For All</title>
</head>

<body>
    <!-- navabr  -->
    <div class="main">
        <div class="navigation">
            <nav class="navbar">
                <!-- LOGO -->
                <div class="logo">FoodForAll</div>
                <!-- NAVIGATION MENU -->
                <ul class="nav-links">
                    <!-- USING CHECKBOX HACK -->
                    <input type="checkbox" id="checkbox_toggle" />
                    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                    <!-- NAVIGATION MENUS -->
                    <div class="menu">
                        <!-- <li><a href="users">Home</a></li> -->
                        <li><a href="logout">Logout</a></li>
                        <li><a href="contactuser">Contact Us</a></li>
                        <!-- <li><a href="donate"> Donate Food</a></li> -->
                        <li><button onclick="myFunction()" class="dropbtn"></i>My Account</button>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="requeststatus">Request Status</a>
                                <a href="predonation">View Previous Donations</a>
                                <a href="updateprf">Update Peofile</a>
                                <a href="aboutuser">About Us</a>
                                <a href="gallery">Gallery</a>
                                <a href="changepassword">Change Password</a>

                            </div>
                        </li>

                    </div>
                </ul>
            </nav>
        </div>
        <!-- body part -->
        <!-- message  -->
        <div class="message">
            {% for message in messages %}
            <li {% if message.tags %} <div class="alert alert-success my-0 alert-dismissible tag">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {% endif %}{{ message }}</li>
        </div>
        {% endfor %}
    </div>
    <!-- message end  -->
    <div class="child">
        <img src="/static/Image/child.jpg" alt="" class="image">
        <div class="centered">
            <div class="title">YOUR SUPPORT MATTERS</div>
            <div class="br"><br><br></div>
            <div class="li">We serve cooked meals and row grains to people in need daily</div>
            <br>
            <div class="donate"><button class="button1"><a href="donate"class="lik" >Donate Food</a></button></div>
        </div>
    </div>

    <div class="data">
        <div class="grid-child one">
            <div class="hed">
                <h2>Help us eradicate hunger in India</h2>
            </div>
            <div class="pera">
                194 million people in India today do not have enough food to eat, the largest in any one country in the world. According to the Global Hunger Index 2021, India falls under the ‘serious’ hunger category with a rank of 101 among 116 countries.<br><br>                These statistics however, do not take into account the effects of COVID-19. The resultant migration, unemployment and loss of earning members of households has pushed millions of Indians into extreme poverty and hunger.
            </div>
        </div>

        <div class="grid-child two">
            <div class="img">
                <img src="/static/Image/giveFood.jpg" alt="" style="border-radius: 20px;">
            </div>
        </div>
    </div>

    <div class="solution">
        <div class="haeding">
            <h2>The Solution</h2>
        </div>
        <br>
        <div class="pera2">
            <h3>We believe providing regular meals to dependents in underserved communities to reduce financial burden in the short term, empowering them to become free from hunger in the long term.</h3>
        </div>
        <div class="pera">The Daily Feeding Program is our effort to support such individuals with cooked meals daily. We have a growing network of credible NGOs involved in the field of education, skill development and livelihood to feed dependent beneficiaries.</div>
    </div>
    <div class="about">
        <div class="one"></div>
        <div class="two">
            <p class="who">Who we are</p>
            <br>
            <ul>
                <li class="ab">
                    <a href="aboutuser">About us</a>
                </li>
                <li class="ab"><a href="contactuser">Contact us</a></li>
            </ul>
        </div>
        <div class="three">
            <p class="who">Get Invoved</p>
            <br>
            <li class="ab ">
                <a href="donate">Donate Food</a>
            </li>
        </div>
        <div class="three">
            <div class="social">Social</div>
            <br>
            <div class="slink">
                <ul>
                    <a href="#" class="fa fa-facebook"> </a>&nbsp;
                    <a href="#" class="fa fa-twitter"> </a>&nbsp;
                    <a href="#" class="fa fa-instagram"> </a>&nbsp;

                </ul>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/javascript/userBase.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>