<!doctype html>


<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{% block title %}Food Requests{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% load static %}
    <link rel="stylesheet" href=" {% static '/css/viewdonationrequest.css' %} ">

</head>

<body>
    <!-- navbar  -->
    <div class="navigation">
        <nav class="navbar">
            <!-- LOGO -->
            <div class="logo">FoodForAll</div>
            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
                <!-- USING CHECKBOX HACK -->
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <!-- NAVIGATION MENUS -->
                <div class="menu">
                    <li><a href="ngopage">Home</a></li>
                    </li>

                </div>
            </ul>
        </nav>
    </div>

    <!-- endof navbar  -->
    <!-- food orders  -->
    <div class="main">
        <section class="orders">
            <div class="title  text-center title-fr">
                <h1>Pending Requests</h1>
            </div>
            <div class="container">
                {% for food in foodOrder %}
                <div class="row my-2">
                    <div class="col-sm-12">
                        <div class="card card1  text-center" style="max-width: 58rem;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h5 class="card-title">{{food}}</h5>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="card-text"> {{food.quantity}} KG</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <form action="foodConfirm" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="fid" value="{{food.id}}">
                                            <input type="submit" value="Confirm" class="btn btn-primary">
                                            <a href="foodConfirm"></a>
                                            <input type="submit" value="Cencel" class="btn btn-primary">
                                            <a href=" confirm "></a>
                                        </form>
                                    </div>
                                </div>
                                <div class="btn1 ">
                                    <a href="#" class="btn btn-primary">User Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- display user details  -->
                <div class="detail ">
                    <div class="row my-2">
                        <div class="col-sm-12">
                            <div class="card card-header text-light" style="max-width: 58rem;">
                                <div class="card-body">
                                    <div class="row">
                                        <table>
                                            <tr>
                                                <td style="padding-right: 50px;">Full Name:</td>
                                                <td>{{food.cart.user}}</td>
                                            </tr>
                                            <tr>
                                                <td>Email:</td>
                                                <td>{{food.cart.user.user.email}}</td>
                                            </tr>
                                            <tr>
                                                <td>Phone No.</td>
                                                <td>{{food.cart.user.phoneno}}</td>
                                            </tr>
                                            <tr>
                                                <td>Address:</td>
                                                <td>{{food.cart.user.address}},&nbsp;{{food.cart.user.city}},&nbsp;{{food.cart.user.state}},&nbsp;{{food.cart.user.zip}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        </section>
        <!-- endof food orders -->

        <!-- for package orders  -->
        <section class="orders">
            <div class="title  text-center title-fr">
                <!-- <h1>Pending Requests</h1> -->
            </div>
            <div class="container">
                {% for food in packOrder %}
                <div class="row my-2">
                    <div class="col-sm-12">
                        <div class="card card1 text-center" style="max-width: 58rem;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h5 class="card-title">{{food}}</h5>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="card-text"> {{food.quantity}} KG</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="submit" value="Confirm" class="btn btn-primary">
                                        <a href=" confirm "></a>
                                        <input type="submit" value="Cencel" class="btn btn-primary">
                                        <a href=" confirm "></a>

                                    </div>
                                </div>
                                <div class="btn1 ">
                                    <a href="# " class="btn btn-primary ">User Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- display user details  -->
                <div class="detail ">
                    <div class="row my-2 ">
                        <div class="col-sm-12 ">
                            <div class="card card-header text-light" style="max-width: 58rem;">
                                <div class="card-body ">
                                    <div class="row ">
                                        <table>
                                            <tr>
                                                <td>User name:</td>
                                                <td>{{food.cart.user}}</td>
                                            </tr>
                                            <tr>
                                                <td>User Email</td>
                                                <td>{{food.cart.user.email}}</td>
                                            </tr>
                                            <tr>
                                                <td>User Phone No.</td>
                                                <td>{{food.cart.user.phoneno}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        </section>

    </div>
    <!-- end of package orders  -->
    {% block content %} {% endblock content %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="/static/javascript/jquery.min.js "></script>
    <script src="/static/javascript/userBase.js "></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
</body>

</html>