<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Donation Requests{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% load static %}
    <link rel="stylesheet" href=" {% static '/css/viewdonationrequest.css' %} ">
    <!-- <style>
        .dlist {
            background-position: center;
            background-color: thistle;
        }
    </style> -->
</head>

<body>
    <div class="navigation">
        <nav class="navbar">
            <!-- LOGO -->
            <div class="logo">FoodForAll</div>
            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
                <!-- USING CHECKBOX HACK -->
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <!-- NAVIGATION MENUS -->
                <div class="menu">
                    {% if user.is_authenticated %}
                    <li><a href="ngopage">Hi {{name}}</a></li>
                    {% endif %}
                    <li><a href="homengo">Home</a></li>
                    </li>

                </div>
            </ul>
        </nav>
    </div>

    <div class="requeststatus">


        <table class="tab" style="margin-left: auto;">
            <th>
                <h3>available feedback</h3>
                <br>
            </th>

            {% for f in list %}
            <div class="dlist">
                <tr>
                    <td>Desc:</td>
                    <td>{{f.desc}}</td>
                </tr>
                <tr>
                    <td>uploaded pic:</td>
                    <td><img src="{{f.pic.url}}" alt="" class="card-img-top" height="100px"></td>
                </tr>
            </div>
            {% endfor %}
        </table>

    </div>
    <script src="/static/javascript/userBase.js"></script>

</body>

</html>