* {
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

.mainpart {
    text-align: center;
    margin: 40px;
}

.contain {
    font-size: larger;
    text-align: center;
    margin: 40px;
}