{% extends 'base.html' %} {% block type %}ngopage{% endblock type %} {% block aboutlink %}aboutngo{% endblock aboutlink %} {% block title %}Contect Us | FoodForAll{% endblock title %} {% block content%}
<div class="mainC">
    <div class="container text-center ">
        <p class="aq text-light tex">Any questions?</p>
        <p class="pera1 text-light">We are hear for you</p>
    </div>
</div>
<div class="al">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card card12 my-6" style="width: 18rem;">
                    <div>
                        <img src="/static/Image/contactUs.jpg" class="card-img-top" height="400px" alt="">

                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="card">
                    <div class="card-body">
                        <h3>Share something..!</h3>
                        <form class="cform">
                            <div class="mb-3">
                                <label for="name" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="name" aria-describedby="emailHelp">

                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                            </div>
                            <div class="mb-3">
                                <label for="phoneNo" class="form-label">Phone No.</label>
                                <input type="email" class="form-control" id="phone" aria-describedby="emailHelp">

                            </div>
                            <div class="mb-3">
                                <label for="massage" class="form-label">Massage</label>
                                <textarea class="form-control" id="massage" rows="3"></textarea>
                            </div>
                            <div class="container text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="data">
    <div class="about">
        <div class="one"></div>
        <div class="two">
            <p class="who">Who we are</p>
            <br>
            <ul>
                <li class="ab">
                    <a href="aboutuser">About us</a>
                </li>
                <li class="ab"><a href="contactuser">Contact us</a></li>
            </ul>
        </div>
        <div class="three">
            <p class="who">Get Invoved</p>
            <br>
            <li class="ab ">
                <a href="donate">Donate Food</a>
            </li>
        </div>
        <div class="three">
            <div class="social">Social</div>
            <br>
            <div class="slink">
                <ul>
                    <a href="#" class="fa fa-facebook"> </a>&nbsp;
                    <a href="#" class="fa fa-twitter"> </a>&nbsp;
                    <a href="#" class="fa fa-instagram"> </a>&nbsp;

                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}