<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--  {% load static %}
    <link rel="stylesheet" href=" {% static '/css/viewdonationrequest.css' %} "> -->
    <link rel="stylesheet" href="/static/css/viewdonationrequest.css">
    <link rel="stylesheet" href="/static/css/cart.css">
</head>

<body></body>
<div class=" nav ">
    <nav class="navbar ">
        <!-- LOGO -->
        <div class="logo ">FoodForAll</div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links ">
            <!-- USING CHECKBOX HACK -->

            <div class="menu ">
                {% if user.is_authenticated %}
                <li><a href="consumer ">Hi {{name}}</a></li>
                {% endif %}
                <li><a href="chome ">Home</a></li>
                <li><a href="selectfood ">Add Food</a></li>


            </div>
        </ul>
    </nav>
</div>

<div class="cart">
    <form action="order" method="post">
        {% csrf_token %}
        <div class="header">
            <h1 class="heading">MY CART</h1>
            <h4 class="action"><a href="removeall">Remove all</a></h4>
        </div>

        <input type="hidden" name="cartID" value={{cart.id}}> {% for d in foodpack %}
        <div class="cartItem">
            <div class="about">
                <p>
                    <h2 class="title">{{d.foodpack}}</h2>
                </p>
            </div>
            <div class="counter">
                <div class="btn" onclick="increment()">+</div>
                <div class="count" id="counting">0</div>
                <!-- <div class="count" id="counting"></div> -->
                <div class="btn" onclick="decrement()">-</div>
                <!-- <div class="kg">kg</div> -->
            </div>
            <div class="prices">
                <form action="remove1" method="post">
                    {% csrf_token %}
                    <!-- <u><a href="remove">Remove</a></u> -->
                    <input type="hidden" name="foodpack" value="{{d.foodpack}}">
                    <div><input class="button1" type="submit" value="Remove"></div>
                </form>
            </div>
        </div>
        {% endfor %}

        <br>
        <hr><br> {% for cartItem in cartItem %}
        <div class="cartItem">
            <div class="about">
                <p>
                    <h2 class="title">{{cartItem.foodtype}}</h2>
                </p>
            </div>
            <div class="counter">
                <div class="btn" onclick="increment()">+</div>
                <div class="count" id="counting">0</div>
                <!-- <div class="count" id="counting"></div> -->
                <div class="btn" onclick="decrement()">-</div>
                <!-- <div class="kg">kg</div> -->
            </div>
            <div class="prices">
                <form action="remove" method="post">
                    {% csrf_token %}
                    <!-- <u><a href="remove">Remove</a></u> -->
                    <input type="hidden" name="foodtype" value="{{cartItem.foodtype}}">
                    <div><input class="button1" type="submit" value="Remove"></div>
                </form>
            </div>
        </div>
        {% endfor %}

        <div class="checkout">
            <input type="submit" class="button" value="Confirm">
            <a href="order"></a>

        </div>
    </form>
    <script type="text/javascript">
        var counter = 0;
    </script>
</div>
</body>
<script>
    //initialising a variable name data

    var data = 0;

    console.log(value)
        //printing default value of data that is 0 in h2 tag
    document.getElementById("counting").innerText = data;

    //creation of increment function
    function increment() {
        data = data + 1;
        document.getElementById("counting").innerText = data;
    }
    //creation of decrement function
    function decrement() {
        data = data - 1;
        document.getElementById("counting").innerText = data;
    }
</script>

</html>