<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block title %}{{name}}| Previous Orders | Food For All{% endblock title %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% load static %}
    <link rel="stylesheet" href=" {% static '/css/userBase.css' %} ">
    <link rel="stylesheet" href=" {% static '/css/selectfood.css' %} ">
</head>

<body>
    <!-- navigation bar -->
    <div class="navigation">
        <nav class="navbar">
            <!-- LOGO -->
            <div class="logo">FoodForAll</div>
            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
                <!-- USING CHECKBOX HACK -->
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <!-- NAVIGATION MENUS -->
                <div class="menu">
                    <li><a href="consumer">Home</a></li>
                    <!-- <li><a href="selectfood"> Select Food</a></li> -->
                    <!-- <li><button onclick="myFunction()" class="dropbtn">My Account</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="mycart">My Cart</a>
                            <a href="previousOrder">View Previous Order</a>
                            <a href="#about">Update Peofile</a>
                            <a href="changepassword">Change Password</a>

                        </div>
                    </li> -->

                </div>
            </ul>
        </nav>
    </div>
    <!-- endof navigation bar  -->

    <!-- display previous orders  -->

    <section class="previous-orders">
        <div class="container">
            <div class="detail ">
                {% for food in j %}
                <div class="row my-2">
                    <div class="col-sm-12">
                        <div class="card cardm">
                            <div class="card-body">
                                <div class="row">
                                    <table>
                                        <tr>
                                            <td>Food Type:</td>
                                            <td>{{food.foodtype}}</td>
                                        </tr>
                                        <tr>
                                            <td>Food Quantity:</td>
                                            <td>{{food.quantity}} KG</td>
                                        </tr>
                                        <tr>
                                            <td>Status:</td>
                                            <td>{{food.status}}</td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}

            <!-- ----------------------------------------- -->
            {% for food in item %}
            <div class="container text-center text-white">
                <h2 class="he">Your Previous Orders</h2>
            </div>
            <div class=" row row1 ">
                <div class="col-sm-6 offset-md-3">
                    <div class="card ">
                        <div class="card-body ">
                            <div class="row ">
                                <table>
                                    <tr>
                                        <td style="padding-right: 60px;">Food Type:</td>
                                        <td>{{food.foodtype}}</td>
                                    </tr>
                                    <tr>
                                        <td>Food Quantity:</td>
                                        <td>{{food.quantity}} KG</td>
                                    </tr>
                                    <tr>
                                        <td>Status:</td>
                                        <td>Panding</td>
                                    </tr>
                                    <tr>
                                        <td>Date of Order:</td>
                                        <td>{{food.order_date}}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}

        </div>
        </div>
    </section>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
</body>

</html>