<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Food</title>
    <link rel="stylesheet" href="/static/css/selectfood.css">
    <link rel="stylesheet" href="/static/css/viewdonationrequest.css">


</head>

<body>
    <div class="navigation">
        <nav class="navbar">
            <!-- LOGO -->
            <div class="logo">FoodForAll</div>
            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
                <!-- USING CHECKBOX HACK -->
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <!-- NAVIGATION MENUS -->
                <div class="menu">
                    {% if user.is_authenticated %}
                    <li><a href="consumer">Hi {{name}}</a></li>
                    {% endif %}
                    <li><a href="chome">Home</a></li>
                    <li><a href="mycart">My Cart</a></li>

                </div>
            </ul>
        </nav>
    </div>

    <div class="con">
        <div class="hadder">
            <h1>Select food from here</h1>
        </div>
        <div class="food">
            <br>
            <br>
            <p class="pera">Food quantity in package is for one person.</p>
        </div>
        <br>
        <br>

        <div class="food-container">
            {% for d in foodPack %}
            <form action="selectpack" method="post">
                {% csrf_token %}
                <div class="food-card">
                    <div class="food-image" style="margin-top: 20px;">
                        <img src="/static/Image/{{d.packName}}.jpg" class="food-thumb" alt="">

                        <div class="centeree">
                            {% if not d.available %}
                            <p class="food-availble">Not available</p>
                            {% else %}
                            <p></p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="food-info">

                        <h2 class="food-brand">{{d.packName}}</h2>
                        {% if messages %} {% for message in messages %} {% if d.message %}{{message}}{{d.quantity}}<br>{% endif %} {% endfor %} {% endif %}

                        <p>This pack contain:<br> {{d.food1}},&nbsp;&nbsp{{d.food2}},&nbsp;&nbsp{{d.food3}}&nbsp;&nbsp;and &nbsp; {{d.food4}}&nbsp;</p>



                        <input type="hidden" name="foodpack" value="{{d.packName}}">
                        <br>
                        <input type="submit" value="Select" class="card-btn">
                        <br>
                        <a href="selectpack"></a> &nbsp;&nbsp;
                    </div>
                </div>
            </form>
            {% endfor %}

        </div>
        <hr>
        <br>
        <div class="food-container">
            {% for d in list %}
            <form action="select" method="post">
                {% csrf_token %}
                <div class="food-card">
                    <div class="food-image">
                        <img src="/static/Image/{{d.foodtype}}.jpg" class="food-thumb" alt="">

                        <div class="centeree">
                            {% if not d.available %}
                            <p class="food-availble">Not available</p>
                            {% else %}
                            <p></p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="food-info">
                        <h2 class="food-brand">{{d.foodtype}}</h2>
                        <!-- {% if not d.available %}
                        <p class="food-availble">Not available</p>
                        {% else %}
                        <p><br></p>
                        {% endif %} -->
                        {% if messages %} {% for message in messages %} {% if d.message %}{{message}}{{d.quantity}}<br>{% endif %} {% endfor %} {% endif %}

                        <!-- <span class="quantity"><input type="text"name="qu" maxlength="4" size="4">
                            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> -->


                        <input type="hidden" name="foodtype" value="{{d.foodtype}}">
                        <br>
                        <input type="submit" value="Select" class="card-btn">
                        <a href="confirm"></a> &nbsp;&nbsp;
                    </div>
                </div>
            </form>
            {% endfor %}


        </div>

    </div>
</body>

</html>